*{
    margin:0;
    padding:0;
}

html body{
    height: 100%;
    width: 100%;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
}

#watch{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height:60vh;
    width:30%;

    border-radius: 50%;
    align-items: center;
    border: 0.2vw solid white;
    /* box-shadow: 0.2vw 0.2vw 0.2vw rgba(214, 212, 212); */
    background: hsla(236, 100%, 8%, 1);

    background: linear-gradient(90deg, hsla(236, 100%, 8%, 1) 0%, hsla(211, 100%, 28%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(236, 100%, 8%, 1) 0%, hsla(211, 100%, 28%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(236, 100%, 8%, 1) 0%, hsla(211, 100%, 28%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000328", endColorstr="#00458E", GradientType=1 );
        

}
#watch h2{
    font-size: 5vw;
    color: rgb(255, 255, 255);
}

#buttons{
    display: flex;
    height : 10vh;
    /* background-color: aqua; */
    justify-content: center;
    align-items: center;
}

#buttons button{
    margin: 0 2vw 0 2vw;
    height:80%;
    width: 10vw;
    font-size: 2vw;
    border-radius: 2vw;
    text-transform: capitalize;
    font-weight: 500;
    box-shadow: 0.2vw 0.2vw 0.2vw rgb(0,0,0 , 0.5);

}

#buttons button:hover{
    color:white;
    cursor:pointer;
}
#button1:hover{
    background-color: rgb(71, 239, 71);
}

#Lap-section{
    /* margin-top: 3vw; */
    overflow-y:auto ;
    overflow-x: hidden;
    margin: 0 auto;
    margin-top: 4vw;
    height:60vh;
    width: 30%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0.3vw 0.3vw 0.3vw 0.3vw  rgb(0,0,0 , 0.5);
    border-radius: 2vw ;
}

#Lap-section h3{
    font-size: 3vw;
    font-weight: 500;
    color: rgb(244, 250, 250);
}

